{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block body %}

<div class="container">

	{% include 'NetrunnerdbBuilderBundle:Default:navbar-factions.html.twig' %}

<div class="page-header influence-{{ faction.code }}">
  <h1>
  <span class="icon icon-{{ faction.code }}"></span>
  {{ faction.name }}
</div>
<div class="row">
	<div class="col-md-9">

{% for item in decklists %}
<h2>{{ item['identity'].title }}</h2>

<div class="row">
<div class="col-md-3">
<a href="{{ path('cards_zoom',{_locale:app.request.locale,card_code:item['identity'].code}) }}" class="no-popup"><img src="/bundles/netrunnerdbcards/images/cards/en/{{ item['identity'].code }}.png" class="img-responsive"></a>
</div>
<div class="col-md-9">
<table class="table table-condensed">
{% for decklist in item['decklists'] %}
	<tr>
	<td>
	    <article>
		<h4>
			<small class="pull-right social">
				<span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
				<span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
				<span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
			</small>
			<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
		</h4>
		<h5>
			<time class="pull-right" datetime="{{ decklist.creation|date('c') }}">{{ decklist.creation|date('M d, Y') }}</time>
			<i>{{ decklist.lastPack.name }}</i>
			{% if decklist.tournament %}
			<span class="text-success" style="margin-left:1em">
			 <span class="glyphicon glyphicon-certificate"></span> {{ decklist.tournament.description }}
			</span>
			{% endif %}
		</h5>
		</article>
    </td>
	</tr>
{% endfor %}
</table>
<a  class="btn btn-default btn-xs" href="{{ path('decklists_list',{type:'find',_locale:app.request.locale,'cards[]':item['identity'].code,'sort':'popularity'}) }}">Show more <span class="glyphicon glyphicon-menu-right"></span></a>
</div>
</div>
	
{% endfor %}
    </div>
    <div class="col-md-3">
		{% include 'NetrunnerdbBuilderBundle:Default:google_adaptable_ad.html.twig' %}
    </div>
</div>

</div>

{% endblock %}