{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Card list</h1>

    <table class="records_list" style="table-layout:fixed">
        <thead>
            <tr>
                <th style="width:20%">Id</th>
                <th style="width:20%">Code</th>
                <th>Title</th>
                <th style="width:20%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_card_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_card_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_card_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_card_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
